Repository phzwart/agentbx: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-toml, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

fix: update PyPI publish to use trusted publishing and fix deprecated parameter
  .github/workflows/release.yml
Due: none

fix: skip noxfile.py mypy check in CI to avoid Python executable path issues
  noxfile.py
Due: bandit, black, flake8, pyupgrade

fix: remove invalid darglint argument from flake8 hook and format noxfile.py
  .pre-commit-config.yaml
  noxfile.py
Due: bandit, black, flake8, pyupgrade

security: fix bandit config, document random/pickle usage, and apply formatting
  bandit.yml
  examples/download_pdb_data.py
  src/agentbx/agents/experimental_data_agent.py
  src/agentbx/core/redis_manager.py
  src/agentbx/utils/crystallographic_utils.py
Due: bandit, black, flake8, pyupgrade

Fix all flake8 issues: docstrings, imports, formatting - all code quality checks now pass
  .flake8
  .gitignore
  .pre-commit-config.yaml
  bandit.yml
  node_modules/.cache/prettier/.prettier-caches/ae40453bcb57fa03a87a484805f8b97dff1daa6c.json
  src/agentbx/agents/base.py
  src/agentbx/agents/experimental_data_agent.py
  src/agentbx/agents/gradient_agent.py
  src/agentbx/agents/structure_factor_agent.py
  src/agentbx/agents/target_agent.py
  src/agentbx/core/base_client.py
  src/agentbx/core/bundle_base.py
  src/agentbx/core/redis_manager.py
  src/agentbx/schemas/generator.py
  src/agentbx/utils/cli.py
  src/agentbx/utils/crystallographic_utils.py
  src/agentbx/utils/data_analysis_utils.py
  src/agentbx/utils/redis_utils.py
  src/agentbx/utils/workflow_utils.py
  tests/core/test_base_client.py
  tests/core/test_redis_manager.py
  tests/schemas/test_generator.py
Due: bandit, black, flake8, pyupgrade

Fix Redis manager tests to match current implementation
  examples/inspect_pdb_data.py
  tests/core/test_redis_manager.py
Due: bandit, black, flake8, pyupgrade

Fix Redis manager tests to match current implementation
  .pre-commit-config.yaml
  .prettierignore
  examples/download_pdb_data.py
  examples/inspect_pdb_data.py
  examples/redis_structure_factor_example.py
  node_modules/.cache/prettier/.prettier-caches/ae40453bcb57fa03a87a484805f8b97dff1daa6c.json
  src/agentbx/utils/crystallographic_utils.py
  src/agentbx/utils/generate_schemas.py
  tests/conftest.py
  tests/core/test_redis_manager.py
  tests/run_all_tests.py
Due: bandit, black, flake8, pyupgrade

Fix mypy type annotations in RedisManager
  src/agentbx/core/redis_manager.py
Due: bandit, black, flake8, pyupgrade

Update Black formatting to match CI version
  docs/conf.py
  noxfile.py
  src/agentbx/__main__.py
  src/agentbx/schemas/generator.py
  src/agentbx/utils/data_analysis_utils.py
  tests/__main__/test_main.py
  tests/run_all_tests.py
  tests/schemas/test_generator.py
Due: bandit, black, flake8, pyupgrade

Fix CI coverage artifact handling
  .github/workflows/tests.yml
Due: none

Add automated PyPI publishing via GitHub Actions
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Bump version to 1.0.0
  pyproject.toml
Due: check-toml

Fix version mismatch in __init__.py to resolve PyPI metadata error
  src/agentbx/__init__.py
Due: bandit, black, flake8, pyupgrade

Fix release workflow to avoid development version metadata issues
  .github/workflows/release.yml
Due: none

Add centralized version management system
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
  docs/versioning.md
  pyproject.toml
  scripts/sync_version.py
  src/agentbx/__init__.py
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

Bump version to 1.0.2
  pyproject.toml
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

Fix sync script to only update package version, not dependencies
  pyproject.toml
  scripts/sync_version.py
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

Add debugging to release workflow to diagnose metadata issues
  .github/workflows/release.yml
Due: none

Fix debug step to install package before testing import
  .github/workflows/release.yml
Due: none

Add comprehensive build debugging to diagnose metadata issue
  .github/workflows/release.yml
Due: none

Fix PyPI publishing by updating action version and disabling metadata verification
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Replace PyPI action with direct twine upload to bypass metadata validation issues
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Fix twine upload by explicitly specifying file paths instead of glob patterns
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Fix twine upload by uploading files separately with proper quoting
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Fix twine upload by using environment variables instead of command line arguments
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Due: none

Prepare release 1.0.4
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  scripts/update_changelog.py
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

Refactor agent system and clean up imports
  README.md
  docs/getting_started.md
  docs/redis_integration.md
  examples/README.md
  examples/redis_structure_factor_example.py
  src/agentbx/__init__.py
  src/agentbx/agents/__init__.py
  src/agentbx/agents/base.py
  src/agentbx/agents/experimental_data_agent.py
  src/agentbx/agents/gradient_agent.py
  src/agentbx/agents/structure_factor_agent.py
  src/agentbx/agents/target_agent.py
  src/agentbx/schemas/generated.py
  src/agentbx/utils/cli.py
  src/agentbx/utils/workflow_utils.py
Due: bandit, black, flake8, pyupgrade

Update generated schemas
  src/agentbx/schemas/generated.py
Due: bandit, black, flake8, pyupgrade

Fix formatting in generated schemas
  src/agentbx/schemas/generated.py
Due: bandit, black, flake8, pyupgrade

Feature/agent refactoring (#21)
  README.md
  docs/getting_started.md
  docs/redis_integration.md
  examples/README.md
  examples/redis_structure_factor_example.py
  src/agentbx/__init__.py
  src/agentbx/agents/__init__.py
  src/agentbx/agents/base.py
  src/agentbx/agents/experimental_data_agent.py
  src/agentbx/agents/gradient_agent.py
  src/agentbx/agents/structure_factor_agent.py
  src/agentbx/agents/target_agent.py
  src/agentbx/schemas/generated.py
  src/agentbx/utils/cli.py
  src/agentbx/utils/workflow_utils.py
Due: bandit, black, flake8, pyupgrade

Add CctbxGeometryProcessor and geometry gradient data schema
  examples/geometry_refinement/cctbx_geo.py
  examples/geometry_refinement/geometry_processor_example.py
Due: bandit, black, flake8, pyupgrade

Add core geometry processor files and updated generated.py
  src/agentbx/agents/geometry_processor.py
  src/agentbx/schemas/definitions/geometry_gradient_data.yaml
  src/agentbx/schemas/definitions/xray_atomic_model_data.yaml
  src/agentbx/schemas/generated.py
Due: bandit, black, flake8, pyupgrade

Update schemas and utilities for cctbx-to-pytorch integration
  .gitignore
  docs/getting_started.md
  examples/redis_structure_factor_example.py
  src/agentbx/__init__.py
  src/agentbx/agents/gradient_agent.py
  src/agentbx/agents/structure_factor_agent.py
  src/agentbx/schemas/__init__.py
  src/agentbx/schemas/definitions/atomic_model_data.yaml
  src/agentbx/schemas/definitions/gradient_data.yaml
  src/agentbx/schemas/definitions/structure_factor_data.yaml
  src/agentbx/schemas/generator.py
  src/agentbx/utils/crystallographic_utils.py
  src/agentbx/utils/workflow_utils.py
  tests/schemas/test_generator.py
Due: bandit, black, flake8, pyupgrade

Refactor: move all processor logic to processors/ and remove obsolete agents/ directory
  src/agentbx/agents/__init__.py
  src/agentbx/agents/geometry_processor.py
  src/agentbx/agents/gradient_agent.py
  src/agentbx/agents/structure_factor_agent.py
  src/agentbx/agents/target_agent.py
  src/agentbx/processors/__init__.py
  src/agentbx/processors/base.py
  src/agentbx/processors/experimental_data_processor.py
  src/agentbx/processors/geometry_processor.py
  src/agentbx/processors/gradient_processor.py
  src/agentbx/processors/structure_factor_processor.py
  src/agentbx/processors/target_processor.py
Due: bandit, black, flake8, pyupgrade

Fix corrupted geometry processor and improve processor architecture
  examples/geometry_refinement/geometry_processor_example.py
  src/agentbx/__init__.py
  src/agentbx/processors/__init__.py
  src/agentbx/processors/base.py
  src/agentbx/processors/experimental_data_processor.py
  src/agentbx/processors/geometry_processor.py
  src/agentbx/processors/gradient_processor.py
  src/agentbx/processors/structure_factor_processor.py
  src/agentbx/processors/target_processor.py
  src/agentbx/schemas/__init__.py
  src/agentbx/schemas/definitions/geometry_gradient_data.yaml
  src/agentbx/schemas/generated.py
Due: bandit, black, flake8, pyupgrade

refactor: separate agents, clients, and processors for modular architecture
  CHANGELOG.md
  README.md
  docs/async_geometry_agent_system.md
  docs/reference.rst
  examples/async_geometry_agent_example.py
  examples/geometry_minimizer_example.py
  examples/inspect_bundles.py
  examples/macromolecule_example.py
  examples/optimization_clients_example.py
  examples/redis_structure_factor_example.py
  scripts/inspect_bundles.py
  src/agentbx/core/__init__.py
  src/agentbx/core/agents/__init__.py
  src/agentbx/core/agents/agent_security_manager.py
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/clients/__init__.py
  src/agentbx/core/clients/base_client.py
  src/agentbx/core/clients/bfactor_optimizer.py
  src/agentbx/core/clients/coordinate_optimizer.py
  src/agentbx/core/clients/coordinate_translator.py
  src/agentbx/core/clients/geometry_minimizer.py
  src/agentbx/core/clients/optimization_client.py
  src/agentbx/core/clients/solvent_optimizer.py
  src/agentbx/core/redis_manager.py
  src/agentbx/core/redis_stream_manager.py
  src/agentbx/processors/geometry_processor.py
  src/agentbx/processors/macromolecule_processor.py
  src/agentbx/schemas/definitions/agent_configuration.yaml
  src/agentbx/schemas/definitions/agent_security.yaml
  src/agentbx/schemas/definitions/macromolecule_data.yaml
  src/agentbx/schemas/definitions/redis_streams.yaml
  src/agentbx/schemas/generated.py
  src/agentbx/utils/__init__.py
  src/agentbx/utils/cli.py
  src/agentbx/utils/geometry_agent_cli.py
  src/agentbx/utils/redis_utils.py
  src/agentbx/utils/workflow_utils.py
  tests/core/test_async_geometry_agent.py
  whatsnext.txt
Due: bandit, black, flake8, pyupgrade

feat: Implement robust geometry minimization workflow with dialect-aware data handling
  examples/geometry_refinement/geometry_processor_example.py
  examples/round_trips/macromolecule.py
  examples/round_trips/shake_and_energy_test.py
  examples/worked_example_1/debug_geometry_agent.py
  examples/worked_example_1/geometry_minimization_workflow.py
  examples/worked_example_1/test_minimizer_consumer.py
  examples/worked_example_1/test_model_manager_serialization.py
  examples/worked_example_1/test_refresh_functionality.py
  src/agentbx/core/agents/agent_security_manager.py
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/clients/__init__.py
  src/agentbx/core/clients/array_translator.py
  src/agentbx/core/clients/coordinate_translator.py
  src/agentbx/core/clients/geometry_minimizer.py
  src/agentbx/core/clients/optimization_client.py
  src/agentbx/core/processors/base.py
  src/agentbx/core/processors/experimental_data_processor.py
  src/agentbx/core/processors/geometry_processor.py
  src/agentbx/core/processors/gradient_processor.py
  src/agentbx/core/processors/macromolecule_processor.py
  src/agentbx/core/processors/structure_factor_processor.py
  src/agentbx/core/processors/target_processor.py
  src/agentbx/core/redis_manager.py
  src/agentbx/schemas/definitions/coordinate_update.yaml
  src/agentbx/schemas/definitions/geometry_gradient_data.yaml
  src/agentbx/schemas/generated.py
  src/agentbx/utils/__init__.py
  src/agentbx/utils/cli.py
  src/agentbx/utils/data_loader.py
  src/agentbx/utils/geometry_agent_cli.py
  src/agentbx/utils/io/crystallographic_utils.py
  src/agentbx/utils/redis_utils.py
  src/agentbx/utils/structures/adp_shaker.py
  src/agentbx/utils/structures/coordinate_shaker.py
Due: bandit, black, flake8, pyupgrade

Add comprehensive README for async geometry agent system workflow
  examples/worked_example_1/README.md
Due: none

✨ Refactor GeometryMinimizer: factory-based optimizer/scheduler API for full PyTorch flexibility
  examples/worked_example_1/geometry_minimization_workflow.py
  src/agentbx/core/clients/geometry_minimizer.py
Due: bandit, black, flake8, pyupgrade

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
