Repository phzwart/agentbx: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-toml, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

mypy issue fix
  src/agentbx/core/clients/array_translator.py
  src/agentbx/core/clients/geometry_minimizer.py
  src/agentbx/core/clients/optimization_client.py
  src/agentbx/core/processors/structure_factor_processor.py
  src/agentbx/core/processors/target_processor.py
Due: bandit, black, flake8, pyupgrade

bypass
  poetry.lock
  pyproject.toml
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/clients/optimization_client.py
  src/agentbx/core/processors/experimental_data_processor.py
  src/agentbx/core/processors/geometry_processor.py
  src/agentbx/core/processors/gradient_processor.py
  src/agentbx/core/redis_stream_manager.py
  src/agentbx/schemas/generated.py
  src/agentbx/schemas/generator.py
Due: bandit, black, check-toml, flake8, pyupgrade

fixed examples
  examples/round_trips/macromolecule.py
  examples/round_trips/shake_and_energy_test.py
Due: bandit, black, flake8, pyupgrade

Fixed examples
  examples/geometrize/README.md
  examples/geometrize/geometry_minimization_workflow.py
  examples/geometrize/test_minimizer_consumer.py
  examples/geometrize/test_model_manager_serialization.py
  examples/geometrize/test_refresh_functionality.py
Due: bandit, black, flake8, pyupgrade

Better README.md
  examples/geometrize/README.md
Due: none

final checks
  README.md
  docs/versioning.md
  examples/async_geometry_agent_example.py
  examples/download_pdb_data.py
  examples/geometrize/test_minimizer_consumer.py
  examples/geometrize/test_model_manager_serialization.py
  examples/geometrize/test_refresh_functionality.py
  examples/geometry_minimizer_example.py
  examples/geometry_refinement/cctbx_geo.py
  examples/geometry_refinement/geometry_processor_example.py
  examples/round_trips/macromolecule.py
  examples/round_trips/shake_and_energy_test.py
  examples/worked_example_1/README.md
  examples/worked_example_1/debug_geometry_agent.py
  examples/worked_example_1/geometry_minimization_workflow.py
  examples/worked_example_1/test_minimizer_consumer.py
  examples/worked_example_1/test_model_manager_serialization.py
  examples/worked_example_1/test_refresh_functionality.py
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/clients/array_translator.py
  tests/agents/__init__.py
  tests/core/agents/test_async_geometry_agent.py
  tests/core/clients/test_base_client.py
  tests/core/clients/test_redis_manager.py
  whatsnext.txt
Due: bandit, black, flake8, pyupgrade

tests and type chekcs fixed
  src/agentbx/schemas/generator.py
  tests/schemas/test_generator.py
Due: bandit, black, flake8, pyupgrade

no testing examples
  pyproject.toml
Due: check-toml

add ml group to nox for tests
  noxfile.py
Due: bandit, black, flake8, pyupgrade

add torch to nox for tests
  noxfile.py
Due: bandit, black, flake8, pyupgrade

again
  .pre-commit-config.yaml
Due: none

missing torch again
  noxfile.py
Due: bandit, black, flake8, pyupgrade

fix: resolve bundle ID mismatch in Redis stream communication
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/clients/coordinate_translator.py
  src/agentbx/core/clients/geometry_minimizer.py
Due: bandit, black, flake8, pyupgrade

type finxing
  src/agentbx/core/clients/coordinate_translator.py
Due: bandit, black, flake8, pyupgrade

Apply Prettier formatting to markdown files
  docs/async_geometry_agent_system.md
  examples/geometrize/README.md
Due: none

Minor updates to readmes etc
  CHANGELOG.md
  docs/async_geometry_agent_system.md
  docs/versioning.md
  examples/README.md
  pyproject.toml
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

Back and forth, all sorted now
  examples/geometrize/geometry_minimization_workflow.py
Due: bandit, black, flake8, pyupgrade

✨ Add classic SyncGeometryAgent: external gradient/loss PyTorch pattern
  docs/async_geometry_agent_system.md
  examples/geometrize_async/README.md
  examples/geometrize_async/geometry_minimization_workflow.py
  examples/geometrize_async/test_minimizer_consumer.py
  examples/geometrize_async/test_model_manager_serialization.py
  examples/geometrize_async/test_refresh_functionality.py
  examples/geometrize_sync/sync_geometry_workflow.py
  src/agentbx/core/agents/async_geometry_agent.py
  src/agentbx/core/agents/sync_geometry_agent.py
  src/agentbx/core/clients/array_translator.py
  src/agentbx/core/clients/geometry_minimizer.py
Due: bandit, black, flake8, pyupgrade

README.md explains what is going on
  commit-msg.txt
  examples/geometrize_sync/README.md
Due: none

Update changelog and version
  CHANGELOG.md
  pyproject.toml
  src/agentbx/_version.py
Due: bandit, black, check-toml, flake8, pyupgrade

into reciprocal space we go
  examples/reciprocal_space/compute_maps.py
Due: bandit, black, flake8, pyupgrade

update generated by hand no verify
  src/agentbx/core/clients/diffraction_data_target_client.py
  src/agentbx/core/processors/experimental_data_processor.py
  src/agentbx/core/processors/macromolecule_processor.py
  src/agentbx/schemas/definitions/experimental_data.yaml
  src/agentbx/schemas/generated.py
Due: bandit, black, flake8, pyupgrade

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
